$media-large-desktop: 1596px;
$media-desktop: 1400px;
$media-laptop: 1400px;
$media-tablet: 1024px;
$media-mobile: 768px;
$media-tiny-mobile: 420px;

@mixin max-tiny-mobile {
  @media screen and (max-width: $media-tiny-mobile) {
    @content;
  }
}

@mixin max-mobile {
  @media screen and (max-width: $media-mobile) {
    @content;
  }
}

@mixin max-tablet {
  @media screen and (max-width: $media-tablet) {
    @content;
  }
}

@mixin max-laptop {
  @media screen and (max-width: $media-laptop) {
    @content;
  }
}

@mixin max-desktop {
  @media screen and (max-width: $media-desktop) {
    @content;
  }
}

@mixin max-large-desktop {
  @media screen and (max-width: $media-large-desktop) {
    @content;
  }
}