version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    container_name: mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  backend:
    image: node:20-alpine
    container_name: backend
    working_dir: /app
    volumes:
      - .:/app
    command: npx nx serve backend
    depends_on:
      - postgres
      - mongo
    ports:
      - "3333:3333"
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/app_db
      MONGO_URL: mongodb://mongo:27017/app_db

  frontend:
    image: node:20-alpine
    container_name: frontend
    working_dir: /app
    volumes:
      - .:/app
    command: npx nx serve frontend --host=0.0.0.0
    depends_on:
      - backend
    ports:
      - "4200:4200"

volumes:
  pgdata:
  mongodata: