version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongodb:
    image: mongo:7
    container_name: mongodb
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db

  backend:
    image: node:20-alpine
    container_name: backend
    working_dir: /app
    volumes:
      - .:/app
    command: npx nx serve backend
    depends_on:
      - postgres
      - mongodb
    ports:
      - "3333:3333"
    env_file:
      - .env

  frontend:
    image: node:20-alpine
    container_name: frontend
    working_dir: /app
    volumes:
      - .:/app
    command: npx nx serve frontend --host=0.0.0.0
    depends_on:
      - backend
    ports:
      - "4200:4200"
    env_file:
      - .env

volumes:
  pgdata:
  mongodata: