<nz-space nzDirection="vertical" nzSize="middle" style="width: 100%">
  <div nz-space>
    <input nz-input placeholder="Buscar por nome ou telefone" style="width: 320px" />

    <button nz-button nzType="primary" (click)="openCreate()">Novo paciente</button>
  </div>

  <nz-table [nzData]="items()" [nzLoading]="loading()" [nzFrontPagination]="false" [nzTotal]="total()" [nzPageIndex]="pageIndex()" [nzPageSize]="pageSize()" nzShowSizeChanger>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th style="width: 160px">Ações</th>
      </tr>
    </thead>

    <tbody>
      @for (row of items(); track row.id) {
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.phone || '-' }}</td>
        <td>
          <nz-space>
            <button nz-button nzType="default" nzSize="small" (click)="openEdit(row)">Editar</button>

            <button nz-button nzDanger nzSize="small" nz-popconfirm nzPopconfirmTitle="Remover este paciente?" (nzOnConfirm)="confirmDelete(row)">Excluir</button>
          </nz-space>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</nz-space>

<nz-modal [nzVisible]="isModalOpen()" [nzTitle]="modalTitle()" [nzOkLoading]="isSaving()" (nzOnCancel)="closeModal()" (nzOnOk)="save()" nzOkText="Salvar" nzCancelText="Cancelar">
  <ng-container *nzModalContent>
    <form [formGroup]="form" nz-form>
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Nome</nz-form-label>
        <nz-form-control nzErrorTip="Informe um nome válido.">
          <input nz-input formControlName="name" />
        </nz-form-control>
      </nz-form-item>

      <!-- <nz-form-item>
        <nz-form-label>Email</nz-form-label>
        <nz-form-control nzErrorTip="Email inválido.">
          <input nz-input formControlName="email" />
        </nz-form-control>
      </nz-form-item> -->

      <nz-form-item>
        <nz-form-label>Telefone</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="phone" />
        </nz-form-control>
      </nz-form-item>
      <!-- 
      <nz-form-item>
        <nz-form-label>Documento</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="document" />
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
        <nz-form-label>Status</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="isActive"></nz-switch>
        </nz-form-control>
      </nz-form-item> -->
    </form>
  </ng-container>
</nz-modal>
